@font-face {
	font-family: 'aurebesh';
	src: url(../fonts/Aurebesh-English.ttf);
}

@font-face {
	font-family: 'nebula-hollow';
	src: url(../fonts/Nebula-Hollow.otf);
}

@font-face {
	font-family: 'nebula';
	src: url(../fonts/Nebula-Regular.otf);
}