@mixin box-glow($background-color, $border-color, $glow-color){
    background-color: $background-color;
	border: 3px outset $border-color;
	box-shadow:
    0 0 5px 1px rgba(255, 255, 255, 0.5),
    0 0 20px 1px $glow-color;
}