@charset "utf-8";

//import mixins
@import "mixins.scss";

//import variables
@import "variables.scss";

//import fonts
@import "fonts.scss";

// import resets
@import "normalize.scss";
@import "box_reset.scss";


body{
	font-family: 'nebula';
	font-style: normal;
	font-weight: normal;
	height: 100%;
	background: #000;
	color: gold;
	text-shadow: 0 0 40px gold;
}
p{
	font-family: 'nebula', sans-serif;
	font-weight: 500;
	font-style: normal;
	padding:0px 0px;	
	margin: 0px;
	margin-top: 0px;
}

img{
	max-width: 100%;
	height:auto;
}

h1{
	font-size: 3rem;
	font-family: 'nebula-hollow';
	letter-spacing: -0.1rem;
	margin: 0px;
	padding:10px 0px 0px;
}

h2{
	font-size: 3rem;
	line-height: .8;
	font-family: 'nebula';
	font-weight: normal;
	letter-spacing: -0.1rem;
	margin: 0px;
	padding:10px 0px;
}

h3{
	font-size: 1.8rem;
	line-height: .6;
	font-family: 'nebula';
	font-weight: bold;
	letter-spacing: -0.1rem;
	margin: 0px;
}
h4, h5, h6{
	font-family: 'nebula';
    font-size: 1.3rem;
	font-weight: 500;
	font-style: normal;
	margin: 0px;
	padding:10px 0px 0px;
}

a {
	text-decoration: none;
}

a:link, :visited {
	color:#000;
}

a:active{
	color:#000;
}

main{
	padding-top: 30px;
}

hr {
	border: 1px solid gold;
}

button{
    padding: 15px 20px;
    border-radius: 10px;
    @include box-glow(#87c9ff, #5690be, #87c9ff);
	margin: auto 0;
	cursor: pointer;
}

button:active {
	background-color: rgb(179, 216, 247);
	box-shadow:
    0 0 5px 1px rgba(255, 255, 255, 0.5),
    0 0 30px 1px rgb(208, 233, 253);
}

button:hover {
	background-color: rgb(179, 216, 247);
	box-shadow:
    0 0 5px 1px rgba(255, 255, 255, 0.5),
    0 0 30px 1px rgb(208, 233, 253);
}

button.resetBtn{
	background-color: #ff8787;
	border: 3px outset #be5656;
	box-shadow:
    0 0 5px 1px rgba(255, 255, 255, 0.5),
    0 0 20px 1px #ff8787;
	margin: auto 0;
}
button.resetBtn:hover {
	background-color: rgb(255, 181, 181);
	box-shadow:
    0 0 5px 1px rgba(255, 255, 255, 0.5),
    0 0 20px 1px rgb(253, 208, 208);
}

button.rollBtn{
	background-color: #a3ff87;
	border: 3px outset #56be5f;
	box-shadow:
    0 0 5px 1px rgba(255, 255, 255, 0.5),
    0 0 20px 1px #87ff8d;
	margin: auto 0;
}

button.rollBtn:hover {
	background-color: rgb(209, 252, 200);
	box-shadow:
    0 0 5px 1px rgba(255, 255, 255, 0.5),
    0 0 30px 1px rgb(208, 253, 210);
}

button.off{
	background: linear-gradient( rgb(145, 150, 173) 0%, rgb(230, 228, 228) 100%);
	padding: 15px 20px;
	border: 3px #999;
	border-style:outset;
	border-radius: 10px;
	box-shadow:
    0 0 20px 5px rgba(255, 255, 255, 0.2);
	margin: auto 0;
}

button.off:hover {
	background-color: rgb(179, 216, 247);
	box-shadow:
    0 0 5px 1px rgba(255, 255, 255, 0.5),
    0 0 30px 1px rgb(208, 233, 253);
}


/* Classes */

.center{
	display: flex;
    justify-content: center;
}

.center-line{
	position: absolute;
	top: 48%;
	z-index:5;
	width: 100%;
	border: 5px groove #888;

}

/* IDs */


#wrapper{
	display:flex;
	flex-wrap:wrap;	
	flex-direction:column;
	max-width: 503px;	
	min-height:100vh;
	margin: 0 auto;
	width:100%;	
	overflow:hidden;
	margin-top: 60px;
}
#footer{
	width:95%;
	max-width: 800px;	
	padding: 10px;
	margin: 0 auto;
	margin-top: 100px;
	text-align:center;
}



/* DICE GAME */

.d-flex{
    display:flex;
}

.space-btwn{
	justify-content: space-between;
}

.space-arnd{
	justify-content: space-around;
}

.gameContainer{
	position:relative;

}

.aviContainer{
 height:190px;
 width: 190px;
 background-color: #000;
 border: 8px ridge #666;
 border-radius: 20px;

}

.aviContainer.player{
	margin-bottom: 20px;
}

.aviContainer.cpu{
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	margin-top:20px;
}

.btnContainer{
	position:absolute;
	top: 50%;
	left: 50%;
	transform:translate(-50%, -50%);
	display: flex;
	width: 600px;
	gap:20px;
	z-index: 9;
}

.round{
	width: 250px;
	text-align: center;
	padding: 10px;
}

.score{
	text-align: center;
}

.hide, .hide2{
	display: none;
}

.center-y{
	margin: 60px 5px auto;
}

.die{
    width: 200px;
    height: 200px;
	margin: auto 0;
}

.screen{
	background-color: #000;
	background-image: url(/images/screen.png);
	background-size:85%;
	background-repeat: repeat;
	border: 5px ridge #777;
	border-radius: 10px;
	margin: 20px 0;
	height: 280px;
}

.playerContainer{
	position: absolute;
}

.cpuContainer{
	display: flex;
	justify-content: end;
}

.relative{
	position: relative;
}

.centerPlate{
	background-color: #000000;
	background-image: linear-gradient(315deg, #000000 0%, #414141 74%);
	border: 10px ridge #555;
	border-radius: 20px;
	padding: 0px 20px;
	align-items: center;
}

.screen.no-height{
	height: 70px;
	padding: 10px 0;
}

.score-container{
	width: 250px;
	height: 700px;
	background-color: #000000;
	background-image: linear-gradient(315deg, #000000 0%, #414141 74%);
	border: 10px ridge #555;
	border-radius: 50px;
	z-index: 100;
}


.score-container.left{
	padding: 20px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border: 10px ridge #555,
	
}

.score-container.right{
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	color: rgb(235, 47, 47);
	text-shadow: 0 0 40px rgb(235, 47, 47);
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

.dice-container{
	height: 230px;
	width: 0px;
	display:flex;
	justify-content: center;
}

.dice-container.left{
	border-top: 5px goldenrod solid;
	border-right: 5px goldenrod solid;
	border-bottom: 5px goldenrod solid;
	box-shadow: 0 0 10px goldenrod;
	border-bottom-right-radius: 80px;
	border-top-right-radius: 40px;
	padding: 0px;
	margin-top: 20px;
}

.dice-container.right{
	border-top: 5px #a3eecb solid;
	border-left: 5px #a3eecb  solid;
	border-bottom: 5px #a3eecb  solid;
	border-color: #a3eecb ;
    box-shadow: 0 0 10px #a3eecb ;
	border-bottom-left-radius: 40px;
	border-top-left-radius: 80px;
	padding: 0px;
	position:absolute;
	bottom:20px;
	right: 250px;
}

.dice-container.leia{
	border-color: rgb(175, 139, 233);
	box-shadow: 0 0 10px rgb(175, 139, 233);
}
.dice-container.palpatine{
	border-color: #945aff;
	box-shadow: 0 0 10px #945aff;
}

.dice-container.vader{
	border-color: $color-vader;
	box-shadow: 0 0 10px $color-vader;
}

.dice-container.chewie{
	border-color: greenyellow;
	box-shadow: 0 0 10px greenyellow;
}

.dice-container.lando{
	border-color: lavender;
	box-shadow: 0 0 10px lavender;
}

.dice-container.luke{
	border-color: rgb(139, 183, 233);
	box-shadow: 0 0 10px rgb(139, 183, 233);
}

.dice-container.ackbar{
	border-color: orange;
	box-shadow: 0 0 10px orange;
}

.dice-container.greedo{
	border-color: #a3eecb;
	box-shadow: 0 0 10px #a3eecb;
}

.dice-container.han{
	border-color: goldenrod;
	box-shadow: 0 0 10px goldenrod;
}

.dice-container.boba{
	border-color: #4ea028;
	box-shadow: 0 0 10px #4ea028;
}

.dice-container.bossk{
	border-color: #f8eb2f;
	box-shadow: 0 0 10px #f8eb2f;
}


.aurebesh{
	font-family: 'aurebesh';
}

.environmental{
	margin: auto 0;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	padding: 0;
	background: rgb(211,219,255);
	background: radial-gradient(circle, rgba(211,219,255,1) 0%, rgb(70, 70, 70) 100%);
	border: 3px groove #222;
	box-shadow:
    0 0 0px;
}

.environmental.blue{
	background: rgb(211,219,255);
	background: radial-gradient(circle, rgba(211,219,255,1) 0%, rgb(55, 112, 218) 100%);
	border: 3px groove #5690be;
	box-shadow:
    0 0 10px 1px #87c9ff;
}

.environmental.red {
	background: rgb(211,219,255);
	background: radial-gradient(circle, rgb(255, 211, 211) 0%, rgb(218, 55, 55) 100%);
	border: 3px groove #be5656;
	box-shadow:
    0 0 10px 1px #ff8787;
}

.environmental.green {
	background: rgb(211,219,255);
	background: radial-gradient(circle, rgb(215, 255, 211) 0%, rgb(82, 218, 55) 100%);
	border: 3px groove #56be56;
	box-shadow:
    0 0 10px 1px #9bff87;
}

.vent{
	height: 30px;
	width: 5px;
	border-radius: 30px;
	border: 3px ridge #555;
	margin: 0 2px;
}

.vent.light{
	border: 3px ridge #444;
}
