//SASS variables
$primary-color: rgb(255, 215, 0);
$secondary-color: rgb(235, 47, 47);
$btn-color-blue: #87c9ff;
$btn-color-green:#a3ff87;
$btn-color-red: #ff8787;
$background-color: black;
$color-han: goldenrod;
$color-greedo: #a3eecb;
$color-leia: rgb(175, 139, 233);
$color-palpatine: #945aff;
$color-vader:rgb(211, 8, 8);
$color-chewie: greenyellow;
$color-lando: lavender;
$color-luke: rgb(139, 183, 233);
$color-ackbar: orange;
$color-boba: #4ea028;
$color-bossk: #f8eb2f;